      <div class="text-center">
            <a href="https://github.com/asomarribasd" class="btn btn-social-icon btn-github" title="Aqui encuentras codigo" target="_new"><i class="fa fa-github"></i></a>
            <a href="https://plus.google.com/u/0/102301623120897327101/posts" class="btn btn-social-icon btn-google" title=Encuentrame en Google Plus"" target="_new"><i class="fa fa-google-plus"></i></a>
            <a href="https://cr.linkedin.com/in/ahmedsomarribas" class="btn btn-social-icon btn-linkedin" title="Mi perfil Laboral" target="_new"><i class="fa fa-linkedin"></i></a>
            <a href="https://twitter.com/AhmedSomarribas" class="btn btn-social-icon btn-twitter" title="Sigueme @AhmedSomarribas" target="_new"><i class="fa fa-twitter"></i></a>
          </div>    
